*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(212, 195, 171);
    text-align: center;
}
.container{
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 70vh;
    padding: 10px;
}
.game{
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 1.4vmin;

}
.box{
    width: 18vmin;
    height:18vmin;
    border-radius:10px;
    border: none;
    box-shadow: 0 0 16rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: rgb(255, 255, 255);
    background-color: brown;
}
#reset-btn{
    border-radius: 1rem; 
    box-shadow: 0 0 16rem rgba(0,0,0,0.1);
    color: rgb(255, 246, 246);
    background-color: blue;
    padding: 1rem;
    font-size: 0.7rem;
}
#reset-btn:hover{
    cursor: pointer;

}

#new-game{
    border-radius: 1rem; 
    box-shadow: 0 0 16rem rgba(0,0,0,0.1);
    color: rgb(255, 246, 246);
    background-color: blue;
    padding: 1rem;
    font-size: 0.7rem;
}
#new-game:hover{
    cursor: pointer;

}
#msg{
    color: rgb(66, 101, 30);
    font-size: 4rem; 
    font-weight: bold;
    text-align: center; 
    padding: 100px ;
    margin-top: 250px;
    margin-bottom: 200px;
    
}
.hide{
    display: none;
}